In [49]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib

1. ph: pH of 1. water (0 to 14).
2. Hardness: Capacity of water to precipitate soap in mg/L.
3. Solids: Total dissolved solids in ppm.
4. Chloramines: Amount of Chloramines in ppm.
5. Sulfate: Amount of Sulfates dissolved in mg/L.
6. Conductivity: Electrical conductivity of water in μS/cm.
7. Organic_carbon: Amount of organic carbon in ppm.
8. Trihalomethanes: Amount of Trihalomethanes in μg/L.
9. Turbidity: Measure of light emiting property of water in NTU.
10. Potability: Indicates if water is safe for human consumption. Potable -1 and Not potable -0

In [50]:
df = pd.read_csv('water_potability.csv')

In [51]:
df.shape

(3276, 10)

In [52]:
df.head(3)

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0

In [53]:
df.isnull().sum()

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

I would like to check if there is a correlation between Potability and missing values in the dataset.

In [54]:
df['has_missing'] = df.isnull().any(axis=1)

# Group by potability and calculate proportion of missing values
missing_prop = df.groupby('Potability')['has_missing'].mean()

In [20]:
missing_prop

Potability
0    0.399399
1    0.365415
Name: has_missing, dtype: float64

There is no significant correlaton between missing values and if the water is potable or not.
I will export the missing values with included index so the QA team will know which index rows has
empty values and they can fill them so I can perform data analysis on these values.

In [55]:
missing_rows = df[df.isnull().any(axis=1)]
missing_rows.to_csv('missing_rows.csv')

I kept the old index so QA team will know which values they need to gather

In [56]:
df = df.dropna()

In [63]:
df = df.drop(columns = 'has_missing')

In [61]:
df.describe()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
count,2011.000000,2011.000000,2011.000000,2011.000000,2011.000000,2011.000000,2011.000000,2011.000000,2011.000000,2011.000000
mean,7.085990,195.968072,21917.441374,7.134338,333.224672,426.526409,14.357709,66.400859,3.969729,0.403282
std,1.573337,32.635085,8642.239815,1.584820,41.205172,80.712572,3.324959,16.077109,0.780346,0.490678
min,0.227499,73.492234,320.942611,1.390871,129.000000,201.619737,2.200000,8.577013,1.450000,0.000000
25%,6.089723,176.744938,15615.665390,6.138895,307.632511,366.680307,12.124105,55.952664,3.442915,0.000000
50%,7.027297,197.191839,20933.512750,7.143907,332.232177,423.455906,14.322019,66.542198,3.968177,0.000000
75%,8.052969,216.441070,27182.587067,8.109726,359.330555,482.373169,16.683049,77.291925,4.514175,1.000000
max,14.000000,317.338124,56488.672413,13.127000,481.030642,753.342620,27.006707,124.000000,6.494749,1.000000

Check pH values: Verify if the pH values are within the acceptable range for potable water, typically between 6.5 and 8.5. Identify any pH values that fall outside this range and flag them for further investigation. For example, if any pH value is less than 6.5 or greater than 8.5, it may be flagged as a potential data accuracy issue.

Validate Hardness values: Review the Hardness values to ensure they are within expected limits for the given water source. Check if there are any values that are unusually high or low, and compare them against established standards or guidelines for water hardness. For example, if any Hardness value is less than 100 or greater than 500, it may be flagged as a potential data accuracy issue.

Review Solids values: Validate the Solids values to ensure they are within acceptable limits for potable water. Check for any outliers or extreme values that may indicate potential data entry errors or anomalies. For example, if any Solids value is less than 1000 or greater than 30000, it may be flagged as a potential data accuracy issue.

Verify Chloramines values: Check the Chloramines values to ensure they are within acceptable levels for potable water. Compare them against regulatory standards or guidelines, and flag any values that deviate significantly from these benchmarks. For example, if any Chloramines value is less than 1 or greater than 10, it may be flagged as a potential data accuracy issue.

Validate Sulfate values: Review the Sulfate values to ensure they are within acceptable levels for potable water. Check for any values that exceed established standards or guidelines, and investigate any potential discrepancies. For example, if any Sulfate value is less than 100 or greater than 500, it may be flagged as a potential data accuracy issue.

Review Conductivity values: Verify the Conductivity values to ensure they are within acceptable ranges for potable water. Check for any outliers or extreme values that may indicate potential data entry errors or anomalies. For example, if any Conductivity value is less than 300 or greater than 800, it may be flagged as a potential data accuracy issue.

Validate Organic_carbon values: Review the Organic_carbon values to ensure they are within acceptable levels for potable water. Check for any values that deviate significantly from established standards or guidelines. For example, if any Organic_carbon value is less than 5 or greater than 25, it may be flagged as a potential data accuracy issue.

Verify Trihalomethanes values: Check the Trihalomethanes values to ensure they are within acceptable levels for potable water. Compare them against regulatory standards or guidelines, and flag any values that exceed these benchmarks. For example, if any Trihalomethanes value is less than 20 or greater than 100, it may be flagged as a potential data accuracy issue.

Review Turbidity values: Validate the Turbidity values to ensure they are within acceptable ranges for potable water. Check for any values that deviate significantly from established standards or guidelines. For example, if any Turbidity value is less than 1 or greater than 5, it may be flagged as a potential data accuracy issue.

Verify Potability values: Review the Potability values to ensure they are accurately represented as either 0 or 1, indicating potable or non-potable water, respectively. Check for any discrepancies or inconsistencies in the formatting or representation of potability values.

In [75]:
df.describe()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
count,2011.000000,2011.000000,2011.000000,2011.000000,2011.000000,2011.000000,2011.000000,2011.000000,2011.000000,2011.000000
mean,7.085990,195.968072,21917.441374,7.134338,333.224672,426.526409,14.357709,66.400859,3.969729,0.403282
std,1.573337,32.635085,8642.239815,1.584820,41.205172,80.712572,3.324959,16.077109,0.780346,0.490678
min,0.227499,73.492234,320.942611,1.390871,129.000000,201.619737,2.200000,8.577013,1.450000,0.000000
25%,6.089723,176.744938,15615.665390,6.138895,307.632511,366.680307,12.124105,55.952664,3.442915,0.000000
50%,7.027297,197.191839,20933.512750,7.143907,332.232177,423.455906,14.322019,66.542198,3.968177,0.000000
75%,8.052969,216.441070,27182.587067,8.109726,359.330555,482.373169,16.683049,77.291925,4.514175,1.000000
max,14.000000,317.338124,56488.672413,13.127000,481.030642,753.342620,27.006707,124.000000,6.494749,1.000000

In [131]:
# Define the criteria for each column
criteria = {'ph': (6.5, 8.5),
            'Hardness': (120, 250),
            'Solids': (2000, 40000),
            'Chloramines': (3, 8),
            'Sulfate': (250, 380),
            'Conductivity': (350, 500),
            'Organic_carbon': (10, 20),
            'Trihalomethanes': (30, 50),
            'Turbidity': (3, 5),
            'Potability': (1, 1)}

def color_row(row):
    row_color = ['background-color: lightgreen' if row[col] >= lower and row[col] <= upper else 'background-color: red' for col, (lower, upper) in criteria.items()]
    return row_color

# Apply the custom function to the DataFrame and assign the result to a new DataFrame
df_styled = df.style.apply(color_row, axis=1)

# Save the rows that meet all criteria into a new DataFrame
df_inside = df_styled.data.loc[df_styled.data.apply(lambda row: all(row[col] >= lower and row[col] <= upper for col, (lower, upper) in criteria.items()), axis=1)]

In [132]:
df_inside

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
276,7.082301,169.468927,29846.719057,5.443387,350.401849,353.030380,18.959534,30.389096,3.485577,1
349,8.065339,174.120584,21366.283598,7.490944,315.180405,497.019234,11.417019,46.213198,3.756392,1
759,8.390501,215.295518,27032.142262,6.553958,282.859453,443.445590,12.841611,46.368219,4.150359,1
1488,7.255799,200.163795,32595.120244,7.572435,324.551514,489.272160,12.305634,45.687421,3.968177,1
1956,7.781664,216.782881,35055.616490,7.784203,306.643336,447.167101,10.609545,36.872086,4.822967,1
1977,7.176171,206.294901,25794.950190,7.794727,321.284079,485.254430,15.574877,49.151960,4.742967,1
1999,7.749774,229.489767,21995.068068,7.748921,320.440664,398.544763,18.202916,41.064247,4.317186,1
2011,7.361600,231.793183,29169.720783,7.929904,375.097188,389.272645,13.853116,39.532787,3.751589,1
2028,7.744125,203.396227,21403.002048,7.623242,333.210903,424.328740,16.949811,48.416725,3.612260,1
2413,7.753936,220.098279,17169.584382,7.984039,344.121899,385.045003,16.848512,47.003322,4.833027,1
2445,7.423088,210.046197,31073.031338,6.374709,312.103161,460.894212,16.805990,41.607907,3.712682,1
2767,7.635265,205.067631,17796.374638,7.156738,306.800286,370.561027,17.486815,32.920720,3.948304,1
3198,7.503086,186.713329,32000.178936,7.641776,315.974147,473.531611,12.049131,43.280476,4.305514,1
3262,8.378108,198.511213,28474.202580,6.477057,319.477187,499.866994,15.389083,35.221200,4.524693,1